extends layout

block content

  input(type="button", id="start_button", value="Resume", disabled="disabled")
  input(type="button", id="stop_button", value="Pause")
  input(type="button", id="show_button", value="Show Patch")

  canvas(id="renderer", width="500", height="500")

  #viewer_pane
